.d-a-c---t-o-r-o-n-t-o {
    height: 40px;
    width: 290px;
  }
  .rectangle-2-6 {
    border-radius: 3px;
    height: 40px;
    width: 290px;
    background-color: #0c0cf4;
    border: 1px solid #0c0cf4;
  }
  .arrow-_right-_alt-_black-_-2-4dp-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #ffffff;
  }
  .img-1 {
    height: 24px;
    width: 24px;
  }
  .text-2 {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: Rubik;
    line-height: auto;
    color: #ffffff;
  }
  .text-3 {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: Rubik;
    line-height: auto;
    color: #ffffff;
  }
  
  